In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
import seaborn as sns
from bs4 import BeautifulSoup
import requests
import regex as re
import csv

In [2]:
def deduplicate_names(series):
    def switcher(argument):
        switcher = {
            'Abderrahmane Mebarki': 'Abder Rehman Mebarki', 
            "Abdulatif Fawal": 'Abdul Latif al-Fawal', 
            'Abdulatif Alfawal': 'Abdul Latif al-Fawal',
            'Abdultif Fawal': 'Abdul Latif al-Fawal',
            'Abdullah Saeed O Alshammari': 'Abdullah Alshammari',
            'Abdulla al-Shemmari': 'Abdullah Alshammari',
            'Abdullah al-Yousef': 'Abdullah al-Yousif',
            'Abdulla al-Yousif': 'Abdullah al-Yousif',
            'Ahmed M. Salah': 'Ahmad Mohamad Sllah',
            'Aleksandar Filipovi?': 'Aleksandar Filipovic',
            'Ali Obaidly': 'Ali al-Obaidly',
            '(Kevin) Cheng Yu Hsuan': 'Kevin Cheng',
            'Cheng Yu-hsuan': 'Kevin Cheng',
            'YUKIO AKAGARIYAMA':'Yukio Akakariyama', 
            'Yukio Akagariyama':'Yukio Akakariyama', 
            'Akagariyama Yukio':'Yukio Akakariyama', 
            'Aleksandros Kazaqi': "Alex Kazakis",
            'Alexander Kazakis': 'Alex Kazakis',
            'Ali Abdulhadi':  'Ali Abdulhadi Almeri',
            'Andrew Kong Bu Hong' :'Andrew Kong',
            'Artem Koshovoj':'Artem Koshovyi',
            'Badr al-Awadi':'Bader al-Awadhi',
            'Casper  Matikainen': 'Casper Matikainen',
            'Casper Maitkainen': 'Casper Matikainen',
            'Carlo Castro': 'Carlos Castro',
            'Carlos Ariel Casto': 'Carlos Castro',
            'Chang Jung Lin': 'Chang Jung-Lin',
            'Chang Jung-lin': 'Chang Jung-Lin',
            'Chang Jun Lin': 'Chang Jung-Lin',
            'Chang Jun Lin': 'Chang Jung-Lin',
            'Chang Jung-Lin': 'Chang Jung-Lin',
            'Chang Yu-lung': 'Chang Yu-Lung',
            'Chang Yu Lung': 'Chang Yu-Lung',
            'Chao Fong-pang':'Chao Fong-Pang',
            'Charles Williams':'Charlie Williams',
            'Christian Fröhlich': 'Christian Froehlich',
            'Dang Jinhu':'Dang Jin Hu',
            'David Alcaide Bermudez': 'David Alcaide',
            'Darko Stankovi?': 'Darko Stankovic',
            'Dennis Orcullo':'Dennis Orcollo',
            'Dennis Grabe': 'Denis Grabe',
            'Deomark Alpajora': 'Deo Alpajora',
            'Donnie Mills':'Donny Mills',
            'Dương Quốc Hoàng': 'Duong Quoc Hoang',
            'Duong Quac Hoang': 'Duong Quoc Hoang',
            'Hoang Duong Quoc' : 'Duong Quoc Hoang',
            'Eklent Kaçi':'Eklent Kaci',
            'Eklent KaÇi': 'Eklent Kaci',
            'Klentì KaÇi': 'Eklent Kaci',
            'Erik  Hjorleifson':'Erik Hjorleifson',
            'Ekonomopoulos Nick': 'Nikos Ekonomopoulos',
            'Nick Ekonomopoulos': 'Nikos Ekonomopoulos',
            'Fjodor Gorst':'Fedor Gorst',
            'Francisco Díaz-Pizarro':'Francisco Diaz-Pizarro',
            'Francisco SanchezRuiz': 'Francisco Sanchez Ruiz',
            'Francisco Sánchez Ruíz':'Francisco Sanchez Ruiz',
            'Francisco Sanchez-Ruiz':'Francisco Sanchez Ruiz',
            'Francisco Sánchez': 'Francisco Sanchez Ruiz',
            'Franklin Hernandez':'Frankie Hernandez',
            'Gerson Martinez Boza': 'Gerson Martinez',
            'Gerson Martínez': 'Gerson Martinez',
            'Gerasimos Trivizas': 'Gerasimos Trivyzas',
            'HAYATO HIJIKATA':'Hayato Hijikata',
            'Hsieh Chia-chen': 'Hsieh Chia-Chen',
            'Hsu Kai-lun':'Hsu Kai Lun',
            'Hasan Zeraatgar': 'Hassan Zeraatgar',
            'Jalal al-Sarisi':'Jalal Al Sarisi',
            'Jeff de Luna':'Jeffrey de Luna',
            'Jeffrey De Luna': 'Jeffrey de Luna',
            'Jeffry De Luna': 'Jeffrey de Luna',
            'Jeong Young-hwa':'Jeong Young Hwa',
            'Jeremy jones':'Jeremy Jones',
            'Jung Lin Chang':'Jung-Lin Chang',
            'Jan VanLierop': 'Jan Van Lierop',
            'Johan Palé': 'Johan Pale',
            'John Moody Sr': 'John Moody',
            'John Scmidmt': 'John Schmidt',
            'Jon De Met': 'Jon Demet',
            'Kai Lun Hsu':'Kai-Lun Hsu',
            'Khalid K. Almutari': 'Khaled al-Mutairi',
            'Khalid al-Mutairi': 'Khaled al-Mutairi',
            'Ko Pin-Yi (秉逸柯)': 'Ko Pin Yi',
            'Ko Pin-yi':'Ko Pin Yi',
            'Pin Yi Ko': 'Ko Pin Yi',
            'Pin-Yi Ko': 'Ko Pin Yi',
            'Ko Ping-chung': 'Ko Ping-Chung',
            'Ko Ping Chung': 'Ko Ping-Chung',
            'Ping-Chung Ko': "Ko Ping-Chung",
            'Chung Ko Ping': "Ko Ping-Chung",
            'Ko Ping-han': 'Ko Ping Han',
            'konomopoulos': 'Nikos Ekonomopoulos',
            'Konrad Juszcyzszyn': 'Konrad Juszczyszyn',
            'Konrad Juszczyszn': 'Konrad Juszczyszyn',
            'Konstantin Stepanow':'Konstantin Stepanov',
            'Konstantinos Koukiadakis':'Kostas Koukiadakis',
            'Kuo Po Cheng':'Kuo Po-Cheng',
            'Kuo Po Chen':'Kuo Po-Cheng',
            'Lee jun-ho':'Lee Jun-ho',
            'Lee Van Corteza': 'Lee Vann Corteza',
            'Lin Ta Li':'Lin Da-Li',
            'Li Hewen':'Li He Wen',
            'Liu Cheng-chieh': 'Liu Cheng Chieh',
            'Liu Haitao (pool player)': 'Liu Haitao',
            'Liu Hai Tao': 'Liu Haitao',
            'Liu Ri-teng':'Liu Ri Teng',
            'Lương Chí Dũng': 'Luong Chi Dung',
            'Lo Li-wen': 'Lo Li-Wen',
            'Lo Li Wen':'Lo Li-Wen',
            'Lưu Minh Phúc':'Luu Minh Phuc',
            'Majed Alazmi':'Majid N. Alazmi', 
            'Marc Vidal Claramunt': 'Marc Vidal',
            'MASATO YOSHIOKA':'Masato Yoshioka',
            'Mateusz Śniegocki':'Mateusz Sniegocki',
            'Matthew Edwards': 'Matt Edwards',
            'Mauro Catriota': 'Mauro Castriota',
            'Maxim Dudanez':'Maxim Dudanets',
            'Max Lechner' : 'Maximilian Lechner',
            'Maximillian Lechner':'Maximilian Lechner',
            'Mazen Berjaoui':'Mazen Berjawi',
            'Mazen Berjuai':'Mazen Berjawi',
            'Mazin Berjawi':'Mazen Berjawi',
            'Md al-Amin':'MD Almin',
            'Mihai Alexandru Neacsu': 'Mihai Alexandru',
            'Meshal al-Murdhi': 'Meshaal al-Murdhi',
            'Mieszko Fortuński':'Mieszko Fortunski',
            'Miesko Fortunski': 'Mieszko Fortunski',
            'Mike Hutcheson': 'Michael Hutcheson',
            'Mohamad Ali Berjaoui': 'Mohammad-Ali Berjaoui',
            'Mohd. Ali Berjawi': 'Mohammad-Ali Berjaoui',
            'Mohammed Berjaui':  'Mohammad-Ali Berjaoui',
            'Mohammad Berjaoui':  'Mohammad-Ali Berjaoui',
            'Mohammad Berjawi': 'NiMohammad-Ali Berjaoui',
            'Mohamad Ali-Berjaoui': 'Mohammad-Ali Berjaoui',
            'Mohammad Sharif (pool player)':'Mohammad Sharif',
            'Mohammed Saeed (pool player)':'Mohammed Saeed',
            'Muhammad Zulfikiri': 'Muhammad Zulfikri',
            'Mike Yednak': 'Michael Yednak',
            'Naoyuki Ōi': 'Naoyuki Oi',
            'Nick Malaj': 'Nick Malai',
            'Nikos Milaj': 'Nick Malai',
            'Malaj Nick': 'Nick Malai',
            'Olivér Szolnoki': 'Oliver Szolnoki',
            'Omar Alshaheen': 'Omar al-Shaheen',
            'Omar Al-Shaheen':'Omar al-Shaheen',
            'Omar Al Shaheen': 'Omar al-Shaheen',
            'Óscar Domínguez':'Oscar Dominguez',
            'Patrick Flemming': 'Patrick Fleming',
            'Philipps Yee':'Phill Yee',
            'Radislaw Babica': 'Radoslaw Babica',
            'Radosław Babica': 'Radoslaw Babica',
            'Ralf Souqet':'Ralf Souquet',
            'Raymund Faron':'Raymund Faraon',
            'Raymund Farun':'Raymund Faraon',
            'Roberto Gomez Jr': 'Roberto Gomez',
            'Ronato Alcano': 'Ronnie Alcano',
            'Ruben Bautista Escaler': 'Ruben Bautista',
            'Rubén Bautista': 'Ruben Bautista',
            'Ruslan Chinachov': 'Ruslan Chinakhov',
            'Ruslan Chinahov': 'Ruslan Chinakhov',
            'Ruslan Tschinachow': 'Ruslan Chinakhov',
            'Salah al-Remawi':'Salah Al Riwani',
            'Salaheldeen Al Rimawi':'Salah Al Riwani',
            'Sanjin Pehlivanović': 'Sanjin Pehlivanovic',
            'Santos Sambajon Jr.': 'Santos Sambajon',
            'Sean C Morgan': 'Sean Morgan',
            'Sergei Luzker':  'Sergey Lutsker',
            'Stanimir Ruslanov':  'Stanimir Ruslanow',
            'Tomasz Kapłan':'Tomasz Kaplan',
            'Tōru Kuribayashi':'Toru Kuribayashi',
            'Toru Kurabiyashi': "Toru Kuribayashi",
            'Tohru Kuribayashi' : "Toru Kuribayashi",
            "Toru Kurabayashi" : 'Toru Kuribayashi',
            'Tom Theriault' : 'Tom Teriault',
            'Vilmos Földes': 'Vilmos Foldes',
            'Vinancio Tanio' : 'Venancio Tanio',
            'Wang Can (pool player)': 'Wang Can',
            'Wiktor Zieliński':'Wiktor Zielinski',
            'Wojciech Sroczyński':'Wojciech Sroczynski',
            'Wu Jia-qing': 'Wu Jiaqing',
            'Wu Kun Lin': 'Wu Kun-Lin',
            'Wu Kun-lin': 'Wu Kun-Lin',
            'Yang Ching-shun': 'Yang Ching Shun',
            'Yip Kin Ling Leo': 'Yip Kin Ling',
            'Kin-Ling Yip': "Yip Kin Ling",
            'Yousseff Jalar':'Yousseff Jaffar',
            'Yu-Hsuan Cheng':'Yu Hsuan Cheng',
            'Zhou Long (Poolbillardspieler)\xa0[Zhou': 'Zhou Long',   
            'Daniel Macio?': 'Daniel Maciol'
        }

        # get() method of dictionary data type returns 
        # value of passed argument if it is present 
        # in dictionary otherwise second argument will
        # be assigned as default value of passed argument
        val = switcher.get(argument, "nothing")
        if val == "nothing":
            return argument
        else:
            return val
    
    lst = []
    for idx, item in enumerate(series): 
        lst.append(switcher(item))
    return(lst)

# Get WPA Rankings

In [4]:
url = 'https://wpapool.com/ranking/' 
tables = pd.read_html(url)

In [5]:


# print(playerlst)
WPAmen = tables[0]
WPAmen.Player[np.where(WPAmen.Player== "Chris Robinson-Reinhold")[0][0]] = "Chris Robinson"
playerlst = list(WPAmen.Player)
playerlst

WPArankings = [" ".join(n.split(", ")[::-1]) for n in playerlst]
WPAmen["Player"] 
WPAmenrankingsdict = dict(zip(WPArankings, WPAmen["Total Points"]))

# rankingsdict

/Users/sethbilliau/python-virtual-environments/thesis/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
mens_rankings = pd.DataFrame.from_dict(WPAmenrankingsdict,orient='index', columns = ["rankings"])

In [7]:
# Women
WPAwomen = tables[1]
playerlst = list(WPAwomen.Player)
playerlst
WPArankings = [" ".join(n.split(", ")[::-1]) for n in playerlst]
WPAwomen["Player"] 
WPAwomenrankingsdict = dict(zip(WPArankings, WPAwomen["Total Points"]))

In [8]:
womens_rankings = pd.DataFrame.from_dict(WPAwomenrankingsdict, orient='index', columns = ["rankings"])
womens_rankings

                      rankings
Siming Chen              11320
Kelly Fisher             11276
Han Yu                   10180
Rubilen Amit             10073
Jasmin Ouschan            9776
...                        ...
Kateryna Polovinchuk       475
Gail Eaton                 475
Susanna Booyens            475
Szu-Ting Kuo               200
Yu-Hsuan Fan               200

[77 rows x 1 columns]

# Full Rankings

In [9]:
fullrankings = pd.concat([womens_rankings, mens_rankings]).sort_values(by="rankings", ascending = False)

In [10]:
fullrankings.reset_index(inplace=True)
fullrankings = fullrankings.rename(columns = {'index':'player'})
fullrankings

                player  rankings
0        Ping Chung Ko     25263
1        Joshua Filler     23512
2    Shane Van Boening     22574
3          Fedor Gorst     19037
4       Jung Lin Chang     19012
..                 ...       ...
251    Torsten Schmitt       300
252       Yu-Hsuan Fan       200
253       Szu-Ting Kuo       200
254          Lo Ho Sum       200
255   Nicholas De Leon       200

[256 rows x 2 columns]

In [11]:
fullrankings['player'] = deduplicate_names(fullrankings['player'])
fullrankings

                player  rankings
0        Ping Chung Ko     25263
1        Joshua Filler     23512
2    Shane Van Boening     22574
3          Fedor Gorst     19037
4       Jung-Lin Chang     19012
..                 ...       ...
251    Torsten Schmitt       300
252       Yu-Hsuan Fan       200
253       Szu-Ting Kuo       200
254          Lo Ho Sum       200
255   Nicholas De Leon       200

[256 rows x 2 columns]

In [12]:
fullrankings.to_csv("data/WPArankings.csv")

# FARGO Ratings

In [13]:
url = 'https://fargorate.com/top-ten-lists'
my_page = requests.get(url)

# Use content 
soup = BeautifulSoup(my_page.content, "html.parser")

In [14]:
from selenium import webdriver

url = 'https://fargorate.com/top-ten-lists'
browser = webdriver.Chrome()
browser.get(url)
time.sleep(3)
html = browser.page_source
soup = BeautifulSoup(html, 'lxml')

In [15]:
ol = soup.find('ol')
result_lst = []
for li in ol.find_all('li'): 
    result = {}
    playername = li.text[0:(len(li.text) - 7)]
    result['player'] = li.text[0:(len(li.text) - 7)]
    result['ratings'] = int(re.findall('[0-9]+', li.text)[0])
    result_lst.append(result)

In [16]:
len(result_lst)

100

In [17]:
python_button = browser.find_elements_by_xpath("//button[@data-rankingtype='World' and @data-gender='Female']")[0]
python_button.click()
time.sleep(3)
html = browser.page_source
soup = BeautifulSoup(html, 'lxml')
ol = soup.find('ol')
for li in ol.find_all('li'): 
    result = {}
    playername = li.text[0:(len(li.text) - 7)]
    result['player'] = li.text[0:(len(li.text) - 7)]
    result['ratings'] = int(re.findall('[0-9]+', li.text)[0])
    result_lst.append(result)

In [18]:
python_button = browser.find_elements_by_xpath("//button[@data-rankingtype='Country' and @data-gender='All']")[0]
python_button.click()
time.sleep(3)
html = browser.page_source
soup = BeautifulSoup(html, 'lxml')
ol = soup.find('ol')
for li in ol.find_all('li'): 
    result = {}
    playername = li.text[0:(len(li.text) - 7)]
    result['player'] = li.text[0:(len(li.text) - 7)]
    result['ratings'] = int(re.findall('[0-9]+', li.text)[0])
    result_lst.append(result)

In [19]:
FARGOratings = pd.DataFrame(result_lst)

In [20]:
FARGOratingsdeduped = FARGOratings.drop_duplicates()
FARGOratingsdeduped

                 player  ratings
0     Shane Van Boening      828
1         Joshua Filler      826
2            Jiaqing Wu      826
3           Jayson Shaw      824
4        Jung Lin Chang      823
..                  ...      ...
295  Jeremy Fedkenheuer      712
296        Ian Costello      712
297        Deo Alpajora      712
298      James Davis Sr      711
299      Raphael DaBreo      711

[289 rows x 2 columns]

In [21]:
FARGOratingsdeduped.to_csv("data/FARGOratings.csv")